.input{
    width: 40vw;
    height: 50px;
    border-radius: 20px;
    border-width: 0;
    background-color: grey;
    text-indent: 20px;
    font-size: 20px;
    color: white;
}

.input_div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.button_div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.button_div button{
    /* margin: 10px; */
    width: 400px;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
}

.button_div a{
    /* margin: 10px; */
    width: 300px;
    height: 40px;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    background-color: grey;
    text-align: center;
    color: #000;
}

.success_msg{
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

.logo_div{
    /* margin: 10px; */
    font-size: 50px;
}

.tab_div button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    /* border-radius: 20px; */
    font-size: 20px;
    cursor: pointer;
}

.tab_div button:hover{
    background-color: gray;
}

.tab_div button.active{
    background-color: gray;
}

.tab_content{
    display: none;
    flex-direction: column;
    align-items: center;
}
